<template>
  <div>
    <page-header/>
    <p><br><br></p>
    <b-card>
        <router-link to="/History" class="btn btn-info btn-sm pull-left">Back</router-link>
      <div class="card-title text-center">
           <h3> {{order.invoice.toUpperCase()}} </h3>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">Status: {{order.status}}</li>
          <li class="list-group-item"> Total: N{{order.total}}</li>
        </ul>
        <p><br><br></p>
        <p class="lead">Items</p>
        <ul v-for="item in order.items" :key="item" class="list-group">
          <li  class="list-group-item">{{item.quantity}} - {{item.name}} - N{{item.amount}}</li>
        </ul>
      </div>
    </b-card>
  </div>
  
</template>
<script>
import PageHeader from '@/components/Header.vue';
import ProductService from '@/services/Products';
export default {
  name: 'Detail',
  components: {
    PageHeader,
  },
  data() {
    return {
      order: null,
    }
  },
  async mounted() {
    try {
      const response = await ProductService.getOrder(this.$route.params.orderId);
      this.order = response.data.data;
      console.log(this.order)
    } catch (error) {
      console.error(error);
    }
  }
}
</script>
