<template>
  <b-navbar toggleable="md" type="dark" variant="info">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand href="#">OrderApp</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">
    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">
      <router-link
       v-if="!$store.state.isUserLoggedIn"
       class="nav-link" to= "/register">Register</router-link>
      <router-link
      v-if="!$store.state.isUserLoggedIn"
      class="nav-link" to= "/login">Login</router-link>
      <router-link
      v-if="$store.state.isUserLoggedIn"
      class="nav-link" to= "/Order">Orders</router-link>
      <router-link
       v-if="$store.state.isUserLoggedIn"
       class="nav-link" to= "/History">History</router-link>
      <b-nav-item
       v-if="$store.state.isUserLoggedIn"
       @click="logout">Logout</b-nav-item>
    </b-navbar-nav>

  </b-collapse>
</b-navbar>

<!-- navbar-1.vue -->

</template>
<script>

export default {
  name: 'Header',
  methods: {
    logout(e) {
      e.preventDefault();
      this.$store.dispatch('setToken', null);
      this.$router.push({
        name: 'Home',
      });
    },
  },

};
</script>
<style scoped>

</style>

