<template>
<div>
  <page-header/>
  <p><br><br></p>
  <div class="container">
    <div class="form-group">
      <!-- <input v-model="text" @input="filter" placeholder="filter Orders" type="search" name="filter" id="filter" class="form-control"> -->
    </div>
    <b-card>
      <table  class="table table-striped">
        <thead>
          <th>S/N</th>
          <th>Invoice Id</th>
          <th>Status</th>
          <th>Item(s)</th>
          <th>Total</th>
          <th>View</th>
        </thead>
        <tbody>
          <tr v-for="(order, index) of orders" :key="index">
            <td>{{index + 1}}</td>
            <td>{{order.invoice.toUpperCase()}}</td>
            <td>
              <span class="label ">{{ order.status.toUpperCase()}}</span>
               </td>
            <td>{{ order.items.length}}</td>
            <td> {{ order.total}} </td>
            <td>
              <router-link class="btn btn-info btn-sm" :to= "{ name: 'Detail', params: {orderId: order._id }}"> view</router-link>
              <!-- <button class="btn btn-sm btn-info">View</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </b-card>
  </div>
</div>

</template>

<script>
import PageHeader from '@/components/Header.vue';
import ProductService from '@/services/Products';

export default {
  name: 'History',
  components: {
    PageHeader,
  },
  data() {
    return {
      orders: [],
      text: null,
    };
  },
  methods: {
    filter(e) {
      e.preventDefault();
      const orders = this.orders;
      if(this.text.length) {
       return this.orders = this.orders.filter(el => el.invoice.toLowerCase().indexOf(this.text.toLowerCase()) !== -1);
      }
      return orders;
    }
  },
  async mounted() {
    try {
      const response = await ProductService.getHistory();
      this.orders = response.data.data.orders;
    } catch (error) {
      console.error(error.response);
    }
  },
};
</script>
