<template>
  <div>
    <page-header/>
    <div class="container-fluid">
      <div class="text-center">
        <h2 class="display">Welcome to the order App</h2>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from '@/components/Header.vue';

export default {
  name: 'Home',
  components: {
    PageHeader,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
