<template>
<div>
  <page-header/>
  <p><br><br></p>
  <p><br><br></p>
  <div class="container">
    <p v-if="loginError">
      <b-alert variant="danger" show>{{loginError}}</b-alert>
    </p>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li class="text-danger" v-for="error in errors" :key="error">{{ error }}</li>
    </ul>
  </p>

    <b-form @submit="checkForm">
      <b-form-group id="exampleInputGroup1"
                    label="Email address:"
                    label-for="exampleInput1"
                    >
        <b-form-input id="exampleInput1"
                      type="email"
                      v-model="email"
                      required
                      placeholder="Enter email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Password:"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="password"
                      v-model="password"
                      required
                      placeholder="Enter Your Password">
        </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="info">Submit</b-button>
    </b-form>
  </div>
    <div class="col-md-4"></div>
  </div>
</div>
</div>
</template>

<script>
import PageHeader from '@/components/Header.vue';
import AuthenticationService from '@/services/Authentication';

export default {
  name: 'Login',
  components: {
    PageHeader,
  },
  data() {
    return {
      email: null,
      password: null,
      errors: [],
      loginError: null,
    };
  },
  methods: {
    checkForm(e) {
      if (this.email && this.password) {
        e.preventDefault();
        return this.login();
      }
      if (!this.email) {
        this.errors.push('Email is required');
      }
      if (!this.password) {
        this.errors.push('Password is required');
      }
      return e.preventDefault();
    },
    async login() {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password,
        });
        this.$store.dispatch('setToken', response.data.data.token);
        // this.$store.dispatch('setUser', response.data.user)
        this.$router.push({
          name: 'Order',
        });
      } catch (error) {
        this.loginError = error.response.data.message || 'Login Error';
      }
    },
  },
};
</script>

<style scoped>

</style>
