 <template>
  <div>
    <page-header/>
    <h1 class="display2 text-center">Make your Orders</h1>
    <p><br><br></p>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <b-card>
            <form @submit="add">
            <div class="form-group">
              <label for="item"> Item Name</label>
              <select v-model="orderName" name="" id="" class="form-control">
                <option  v-for="item of items" :key="item._id"
                :value="item.name">{{item.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input v-model="quantity" type="number" min="0"
              name="quantity" id="quantity" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-info form-control">Add</button>
            </div>
          </form>
          </b-card>
        </div>
        <div v-if="orders.length" class="col-md-6">
          <table class="table table-bordered table-hover">
            <thead>
              <th>S/N</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr v-for="(order, index) of orders" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ order.name}} </td>
                <td>{{ order.quantity}}</td>
                <td>{{ order.amount}}</td>
                <td>
                  <button @click="remove(order.name)" class="btn btn-sm btn-danger">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="display-3">N{{ total }}</p>
          <p><br></p>
          <button @click="checkout" class="btn btn-lg btn-info">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import PageHeader from '@/components/Header.vue';
import ProductService from '@/services/Products';

export default {
  name: 'Order',
  components: {
    PageHeader,
  },
  data() {
    return {
      items: [],
      orders: [],
      total: 0,
      quantity: null,
      orderName: null,
      orderItem: {
        item: null,
        quantity: null,
      },
    };
  },
  async mounted() {
    try {
      const response = await ProductService.getProducts();
      this.items = response.data.data.products;
    } catch (error) {
      console.error(error.response);
    }
  },
  methods: {
    add(e) {
      e.preventDefault();
      if (this.orders.length) {
        const inCart = this.orders.find(i => i.name === this.orderName);
        if (!inCart) {
          const item = this.items.find(i => i.name === this.orderName);
          console.log(item);
          const total = item.amount * this.quantity;
          this.orders.push({ name: this.orderName, quantity: this.quantity, amount: total });
          this.quantity = null;
          this.orderName = null;
          e.target.reset();
          this.getTotal();
        }
        const item = this.items.find(i => i.name === this.orderName);
        const index = this.orders.findIndex(el => el.name === this.orderName);
        inCart.quantity = Number(inCart.quantity) + Number(this.quantity);
        inCart.amount = item.amount * inCart.quantity;
        this.quantity = null;
        this.orderName = null;
        e.target.reset();
        this.getTotal();
        return this.orders[index] = inCart;
      }
      const item = this.items.find(i => i.name === this.orderName);
      const total = item.amount * this.quantity;
      this.orders.push({ name: this.orderName, quantity: this.quantity, amount: total });
      this.quantity = null;
      this.orderName = null;
      e.target.reset();
      this.getTotal();
    },
    remove(name) {
      const index = this.orders.findIndex(el => el.name === name);
      if (index !== -1) {
        this.orders.splice(index, 1);
        return this.getTotal();
      }
    },
    getTotal() {
      if (!this.orders.length) {
        return;
      }
      this.total = this.orders.map(order => order.amount).reduce((acc, curr) => acc + curr);
    },
    async checkout() {
      const payload = {
        total: this.total,
        items: this.orders,
      };
      try {
        const response = await ProductService.placeOrder(payload);
        this.orders = [];
        console.log(response.data.data);
      } catch (error) {
        console.error(error.response);
      }
    },

  },
};
</script>

