<template>
  <div>
    <page-header/>
    <p><br><br></p>
    <div class="container">
      <p v-if="registerError">
      <b-alert variant="danger" show>{{registerError}}</b-alert>
    </p>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
          <ul>
            <li class="text-danger" v-for="error in errors" :key="error">{{ error }}</li>
          </ul>
         </p>
         <b-form @submit="checkForm">
      <b-form-group id="exampleInputGroup1"
                    label="Name:"
                    label-for="exampleInput1"
                    >
        <b-form-input id="exampleInput1"
                      type="text"
                      v-model="name"
                      required
                      placeholder="Enter Your Name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Email address:"
                    label-for="exampleInput2"
                    >
        <b-form-input id="exampleInput2"
                      type="email"
                      v-model="email"
                      required
                      placeholder="Enter email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup3"
                    label="Phone Number:"
                    label-for="exampleInput3"
                    >
        <b-form-input id="exampleInput3"
                      type="text"
                      v-model="phoneNumber"
                      required
                      placeholder="Enter Phone Number +234xxx-xxx-xxx">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup4"
                    label="Password:"
                    label-for="exampleInput4">
        <b-form-input id="exampleInput4"
                      type="password"
                      v-model="password"
                      required
                      placeholder="Password">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup5"
                    label="Password Confirm:"
                    label-for="exampleInput5">
        <b-form-input id="exampleInput5"
                      type="password"
                      v-model="confirm"
                      required
                      placeholder="Password confirm">
        </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="info">Submit</b-button>
    </b-form>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

</template>

<script>
import PageHeader from '@/components/Header.vue';
import AuthenticationService from '@/services/Authentication';

export default {
  name: 'Register',
  components: {
    PageHeader,
  },
  data() {
    return {
      name: null,
      email: null,
      phoneNumber: null,
      password: null,
      confirm: null,
      errors: [],
      registerError: null,
    };
  },
  methods: {
    checkForm(e) {
      if (this.email && this.name && this.phoneNumber && this.password && this.confirm) {
        e.preventDefault();
        return this.register();
      }
      if (!this.email) {
        this.errors.push('Email is required');
      }
      if (!this.name) {
        this.errors.push('Name is required');
      }
      if (!this.phoneNumber) {
        this.errors.push('Phone Number is required');
      }
      if (!this.password) {
        this.errors.push('Password is required');
      }
      if (!this.confirm) {
        this.errors.push('Password confirm is required');
      }
      if (this.password !== this.confirm) {
        this.errors.push('Passwords do not match');
      }
      if (!this.phoneNumber.startsWith('+234') || this.phoneNumber.length !== 14) {
        this.errors.push('Phone number must start with +234 and must be 14 characters');
      }
      return e.preventDefault();
    },
    async register() {
      try {
        const response = await AuthenticationService.register({
          name: this.name,
          email: this.email,
          phoneNumber: this.phoneNumber,
          password: this.password,
          confirm: this.confirm,
        });
        this.$store.dispatch('setToken', response.data.data.token);
        // this.$store.dispatch('setUser', response.data.user)
        this.$router.push({
          name: 'Order',
        });
      } catch (error) {
        this.registerError = error.response.data.message || 'Register Error';
      }
    },
  },

};
</script>
